@import "./mixin.styl"

// --------------无需切换的样式--------------

// 字体颜色
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.4)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

// 高亮字体颜色
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 50, 0.5)
$color-sub-theme = #d93f30

//字体大小
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

// ----------------背景颜色参数----------------

// 酷黑 - deault
BG_CR_BLACK = rgb(34, 34, 34)

// 媚红
BG_CR_RED = #B45B3E

// 海洋绿
BG_CR_GREEN  = #2E8B57

// 深岩暗蓝灰色
BG_CR_BLUE = #483D8B

// 背景颜色mixin参数
$color-background-op1=BG_CR_BLACK BG_CR_RED BG_CR_BLUE BG_CR_GREEN
$color-background=rgba(BG_CR_BLACK, 0.5) rgba(BG_CR_RED, 0.5) rgba(BG_CR_BLUE, 0.5) rgba(BG_CR_GREEN, 0.5)
$color-background-d =darken(rgba(BG_CR_BLACK, 0.5), 20%) darken(rgba(BG_CR_RED, 0.5), 20%) darken(rgba(BG_CR_BLUE, 0.5), 20%) darken(rgba(BG_CR_GREEN, 0.5), 20%)
$color-background-d-op1 =darken(BG_CR_BLACK, 20%) darken(BG_CR_RED, 20%) darken(BG_CR_BLUE, 20%) darken(BG_CR_GREEN, 20%)
$color-highlight-background =lighten(rgba(BG_CR_BLACK, 0.5), 10%) lighten(rgba(BG_CR_RED, 0.5), 10%) lighten(rgba(BG_CR_BLUE, 0.5), 10%) lighten(rgba(BG_CR_GREEN, 0.5), 10%)
$color-highlight-background-op1 =lighten(BG_CR_BLACK, 10%) lighten(BG_CR_RED, 10%) lighten(BG_CR_BLUE, 10%) lighten(BG_CR_GREEN, 10%)
$color-dialog-background =lighten(rgba(BG_CR_BLACK, 0.5), 20%) lighten(rgba(BG_CR_RED, 0.5), 20%) lighten(rgba(BG_CR_BLUE, 0.5), 20%) lighten(rgba(BG_CR_GREEN, 0.5), 20%)
